html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

.playme {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #f7cb00;
  position: absolute;
  cursor: pointer;
  left: 25px;
  top: 25px;
  animation: playJumping 0.3s alternate infinite;
}

.font-style {
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 38px;
  color: #f7cb00;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  perspective: 600px;
}

.animation-block {
  width: 755px;
  transform: rotateX(49deg);
}

.text-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  animation: textMoving 5s ease-in;
  animation-fill-mode: forwards;
  user-select: none;
}

.heading {
  text-align: center;
}

.text {
  margin-bottom: 23px;
  line-height: 50px;
}

.repeat-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  transform: translate(-50%, -50%);
  animation: watchAgain 0.2s linear;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

.repeat {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #f7cb00;
}

@keyframes textMoving {
  0% {
    transform: translateY(870px);
    visibility: visible;
  }
  100% {
    transform: translateY(-1000px);
    visibility: hidden;
  }
}
@keyframes watchAgain {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes playJumping {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

/*# sourceMappingURL=styles.css.map */
