@import "./_reset.scss";

$title-animation-duration: 5s;

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

.playme {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #f7cb00;
  position: absolute;
  cursor: pointer;
  left: 25px;
  top: 25px;
  animation: playJumping 0.3s alternate infinite;
}

.font-style {
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 38px;
  color: #f7cb00;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  perspective: 600px;
}

.animation-block {
  width: 755px;
  transform: rotateX(49deg);
}

.text-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  animation: textMoving $title-animation-duration ease-in;
  animation-fill-mode: forwards;
  user-select: none;
}

.heading {
  text-align: center;
}

.text {
  margin-bottom: 23px;
  line-height: 50px;
}


.repeat-wrapper {
  position: absolute;
  top:50%;
  left:50%;
  visibility: hidden;
  transform:translate(-50%, -50%);
  animation: watchAgain 0.2s linear;
  animation-fill-mode: forwards;
  animation-delay: $title-animation-duration;
}

.repeat {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #f7cb00;
}

@keyframes textMoving {
  0% {
      transform: translateY(870px);
    visibility: visible;
  }

  100% {
    transform: translateY(-1000px);
    visibility: hidden;
  }
}

@keyframes watchAgain {
  0% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}


@keyframes playJumping {
  0%  {
      transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}